.logout{
    background-color: red;
}
.top-bar-right {
  width: 40% !important;
  display: inline-block !important;
  margin: 0 auto !important;
}
.top-bar-left {
  width: 40% !important;
  display: inline-block !important;
  margin: 0 auto !important;
}
.link {
  border: 1px solid black;
}
.home{
	height: 100vh;
}
.footer{
	margin-top: 88vh;
}

.cardTitle{
	margin-top: 100px;
	text-align: center;
}


.pin{
	color: red;
}



/* Dashboard Page */

.map {
  height: 500px;
}

@media screen and (min-width: 1024px){
    .map {
        height: 500px;
    }
}

/* Dashboard page */

#load {
	margin-left: 50%;
	margin-top: 20%;
}